*{
    margin: 0;
    padding: 0;
    font-size: 10;
}
body{
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}
input[type=checkbox]{
 display: none;
}
.container{
    background-image: linear-gradient(to right, #33ccff 0%, #ff99cc);
    color: #ffffff;
    width: 100vw;
    height: 100vh;
}
.main{
    width: 50vw;
    padding: 15px;
    display: grid;
    gap: 15px;
    border: 1px solid #ffffff;
    top: 15%;
    left: 35%;
    position: absolute;
    transition: 0.2s;
}