*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
.container{
    background-image: linear-gradient(to right, #33ccff 0%, #ff99cc);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: auto;
    height: auto;
    padding: 20px;
    background-color: rgba(248, 248, 248, 0.781);
    border-radius: 15px;
    filter:drop-shadow(16px 0px 20px  rgb(189, 189, 189)) ;
    transition: 0.2s;   
}
.main form{
    display: grid;
    gap: 15px;
}
.main .title{
    font-size: 20pt;
    text-align: center;
    border-bottom: 1px solid #a1a1a1;
}
.main .subtitle{
    font-size: 17px;
}
.main label{
    font-weight: bold;
}
.main .keyType input{
    margin-left: 20px;
}
.main input[type=text], .main input[type=email]{
    width: 97%;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    outline: none;
}
.main button{
    background-color: #28af51;
    color: white;
    height: 30px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}